#agregar, #titular {
    background-color: #135CF7; 
    text-align: center; 
    color: white;
}

#agregar:hover {
    background-color: #B22534;
    transition: 0.4s;
}

#agregar:active {
    background-color: #B22534;
}

#agregar:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #EEA6AD;
    transition: 0.4s;
}